@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.container {
  height: 100vh;
  background-color: #e7e3eb;
  .header {
    padding: 15px 20px;
    background-color: #ffffff;
    h1 {
      color: #7d9174;
      font-family: 'Playfair Display', serif;
      text-align: center;
      font-size: 72px;
    }
    p {
      color: wheat
    }
  }
}
